.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, .9);
  color: white;
}

.logo img {
  width: 100px;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}
